<ul>
    <% @micropost.each do |micropost| %>
    <h5><%= micropost.id%></h5>
    <div class="content">
        <%= micropost.content%>
    </div>
    <%= link_to "delete", url: "/microposts/#{micropost.id}/destroy" , method: :post %>
    
    
    <hr>
    <% end %>
    
</ul>
