<li id="microposts- <%= @current_user.id%>">
    <span class="user"><%= @micropost.id %></span>
    <span class="content"><%= @micropost.content %></span>
    <span class="timestamp">
       
    </span>
</li>