<div class="row">
        <aside class="col-md-4">
          <div class="user_info">
            <ul>
                <li> <%= @user%></li>
            </ul>
          </div>
        </aside>
      </div> 