<ul>
    <% @shows.each do |show| %>
    <h5><%= show.id%></h5>
    <div class="content">
        <%= show.content%>
    </div>
    <% if !ensure_correct_user %>
        <%= link_to "delete", url: "users/:#{show.id}" , method: :destroy %>
    <% end %>
    
    <hr>
    <% end %>
    
</ul>
