<ul>
    <% @show.each do |show| %>
    <h5><%= show.id%></h5>
    <div class="content">
        <%= show.content%>
    </div>
    
    <%= render 'microposts/destroy'%>
    
    <hr>
    <% end %>
    
</ul>
